<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body style="background-color: grey;">
    <h3 style="text-align: center;">Hi dear!</h3>
    <div style="margin-left: 30px;">
        <p>You're receiving this email because you requested a password reset for your user account at {{domain}}</p>
        
        <p>Please click the following link to reset your password:</p>
        
        <p>{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}</p>
        
        <p>Thanks.</p>
        
        <p>Todo App Team.</p>
    </div>
</body>
</html>






