{% extends 'base.html' %}

{% load static %}

<!--Home page-->
{% block content %}
  <section class="feature">
    <div class="feature-content">
      <h1>Todo</h1>
      <p>Todo helps you more focus, either work or play.</p>
      <p>Create your favorite tasks here and become more motivated.</p>

      {% if request.user.is_authenticated %}
        <a class="btn btn-primary cta" href="{% url 'task-create' %}">Create Task</a>
      {% else %}
        <a class="btn btn-primary cta" href="{% url 'register' %}">Get Started</a>
      {% endif %}
    </div>
    <img src="{% static 'images/feature.jpg' %}" alt="feature-image" class="feature-image" />
  </section>

  <section id="calendar" class="feature feature-reverse">
    <div class="feature-content">
      <h2>👋 Our Calendar</h2>
      <p>Todo provides a dynamic and real time calendar.</p>
      <p>Keep your attention and most important things in one place.</p>
    </div>
  </section>

  <section class="feature">
    <div class="feature-content">
      <h2>🤖 AI Assistant</h2>
      <p>Todo provides a smart AI assistant.</p>
      <p>You can start a conversation with GPT model in the simple chat.</p>
      <p>It is a great way to get started with your tasks.</p>
    </div>
    <img src="{% static 'images/ChatGPT-Logo.webp' %}" alt="feature-image" class="feature-image" />
  </section>
{% endblock %}
